<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.tumblr.ramiroaraujo.alfred-commandline-oneliners-workflow</string>
	<key>connections</key>
	<dict>
		<key>73214F78-D6DA-446F-AD5C-1E128BBCA9BA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7EDD968A-D69D-408D-AB4D-6C147EE196FB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>DBE6F395-2D17-441C-9BC7-A96F5812F9B9</key>
		<array/>
		<key>F417AEF2-2A4E-4580-ADD0-70B3EAB547AF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>73214F78-D6DA-446F-AD5C-1E128BBCA9BA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>DBE6F395-2D17-441C-9BC7-A96F5812F9B9</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>open oneliner url in the browser</string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Ramiro Araujo</string>
	<key>description</key>
	<string>search for oneliners from commandlinefu.com</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Command Line Oneliners</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>4</integer>
				<key>script</key>
				<string>XDEBUG_CONFIG="idekey=vagrant" /usr/local/bin/php action.php copy "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>73214F78-D6DA-446F-AD5C-1E128BBCA9BA</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>7EDD968A-D69D-408D-AB4D-6C147EE196FB</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>4</integer>
				<key>keyword</key>
				<string>oneliner</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>1</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>searching...</string>
				<key>script</key>
				<string>XDEBUG_CONFIG="idekey=vagrant" /usr/local/bin/php filter.php search "{query}"</string>
				<key>subtext</key>
				<string>type the search terms</string>
				<key>title</key>
				<string>Search Oneliners in commandlinefu.com</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>F417AEF2-2A4E-4580-ADD0-70B3EAB547AF</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>4</integer>
				<key>script</key>
				<string>URL=`XDEBUG_CONFIG="idekey=vagrant" /usr/local/bin/php action.php url "{query}"`
open $URL</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>DBE6F395-2D17-441C-9BC7-A96F5812F9B9</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>73214F78-D6DA-446F-AD5C-1E128BBCA9BA</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>7EDD968A-D69D-408D-AB4D-6C147EE196FB</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>DBE6F395-2D17-441C-9BC7-A96F5812F9B9</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>F417AEF2-2A4E-4580-ADD0-70B3EAB547AF</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
